body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 15px;
    background-color: #ddd;
    margin: 0 auto;
    width: 100%;
    line-height: 1,5px;
    color: #555;
}

header{
    padding: 5px;
    background-color: #ddd;
    color: gray; 
    text-align: center;

}
nav{
    text-align: center;
    background-color: #555;
    padding: 5px;
    width: 100%;
    position: sticky;
    top: 0;
}
nav li{
    display: inline;
    padding: auto;
    text-align: center;
    margin: 0 15px;

}
nav li a{
    text-decoration: none;
    color: #ddd;
}
main{
    width: 70%;
    margin: auto;
    margin-top: 0px;    
    padding: 20px;
    background-color: white;
}
footer{
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 10px;
    font-style: italic;

}
.destaca{
    box-shadow: 0 0 20px green;
}